@model IEnumerable<ECommerceApp.Models.Category>

@{
    ViewData["Title"] = "Category";
}

<a asp-controller="Home" asp-action="Admin" class="absolute left-2 -top-4 bg-blue-400 hover:bg-blue-600  hover:text-white rounded-md inline-block  py-1 w-24 mt-6 ml-6 flex items-center justify-center">
    <img src="~/images/back.png" alt="Back" class="invert grayscale w-8">
</a>

<a asp-controller="Categories" asp-action="CategoryAdd" class="block w-36 h-12 absolute right-4 top-0 rounded-lg bg-yellow-300 hover:text-white text-black flex items-center justify-center">
    Add Category
</a>


<h1 class="text-xl font-semibold text-center mt-10 mb-16">Available Categories</h1>

@foreach(var i in Model)
{
    <h1 class="text-center text-xl text-yellow-400 mb-4 font-medium">@i.Name</h1>
}