@model IEnumerable<ECommerceApp.Models.Category>

@{
    ViewData["Title"] = "Category";
}

<div class="w-full flex items-center justify-between px-4 my-6">

<a asp-controller="Home" asp-action="Admin" class=" bg-blue-400 hover:bg-blue-600  hover:text-white  py-1 w-24  hidden lg:flex items-center justify-center">
    <img src="~/images/back.png" alt="Back" class="invert grayscale w-8">
</a>

<h1 class="text-xl font-semibold max-lg:mx-auto text-center">Available Categories</h1>

<a asp-controller="Categories" asp-action="CategoryAdd" class="hidden lg:flex items-center justify-center font-medium w-36 h-12 bg-green-500 hover:text-white text-black">
    Add Category
</a>
</div>


<div class="w-full h-full space-y-6 flex items-center justify-center flex-col pb-20 lg:pb-0">

@foreach (var i in Model)
{
        <a asp-controller="Products" asp-action="ProductsIndex" asp-route-categoryId="@i.Id" class="border border-[1px] h-full w-[90%] lg:w-1/2  d-flex align-items-center justify-content-center py-3 hover:bg-white hover:text-black transition-all duration-400 ease-in">
        <h1 class="text-center text-xl font-medium">@i.Name</h1>
    </a>
}

    <a asp-controller="Categories" asp-action="CategoryAdd" class="block lg:hidden w-[90%] h-12 font-medium  bg-green-500 hover:text-white text-black flex items-center justify-center">
        Add Category
    </a>
</div>

