html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a{
    text-decoration: none;

}

a:hover{
    color:white;
}

/* Scrollbar width and height */
::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


/* HTML: <div class="loader"></div> */
.loader {
    display: inline-flex;
    gap: 10px;
}

    .loader:before,
    .loader:after {
        content: "";
        height: 20px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: linear-gradient(#222 0 0) top/100% 40% no-repeat, radial-gradient(farthest-side,#000 95%,#0000) 50%/8px 8px no-repeat #fff;
        animation: 2.5s infinite;
        animation-name: l8-1, e8-2;
    }

@keyframes l8-1 {
    0%, 40%, 100% {
        background-size: 100% 40%,8px 8px
    }

    50%, 80% {
        background-size: 100% 0%,8px 8px
    }
}

@keyframes l8-2 {
    0%, 50% {
        background-position: top,50% 50%
    }

    60%, 65% {
        background-position: top,70% 50%
    }

    70%, 75% {
        background-position: top,30% 50%
    }

    90%, 100% {
        background-position: top,50% 50%
    }
}

