@{
    ViewData["Title"] = "Admin";
}

<a asp-controller="Home" asp-action="Index" class="absolute left-2 -top-4 bg-blue-400 hover:bg-blue-600  hover:text-white rounded-md inline-block  py-1 w-24 mt-6 ml-6 flex items-center justify-center">
    <img src="~/images/back.png" alt="Back" class="invert grayscale w-8">
</a>

<h1 class="text-xl font-semibold text-center mt-10 mb-24 underline">Admin</h1>

<div class="w-full flex items-center justify-center text-black flex-col flex-wrap space-y-14">

    <div class="w-full flex items-center justify-center space-x-6">

        <a asp-controller="Categories" asp-action="CategoryAdd" class="w-fit hover:text-white bg-yellow-500 hover:bg-yellow-600 py-3 px-8 rounded-xl transition-all duration-200 ease-in">
            Add Categories
        </a>


        <a asp-controller="Products" asp-action="ProductAdd" class="hover:text-white w-fit bg-yellow-500 hover:bg-yellow-600 py-3 px-8 rounded-xl transition-all duration-200 ease-in">
            Add Product
        </a>
    </div>

    <div class="w-full flex items-center text-white justify-center space-x-6">

        <div class="w-fit bg-red-600 hover:bg-red-700 py-3 px-8 rounded-xl hover:text-white transition-all duration-200 ease-in">
            Delete Product
        </div>

        <a asp-controller="Categories" asp-action="DeleteCategoryList" class="w-fit bg-red-600 hover:bg-red-700 py-3 px-8 rounded-xl hover:text-white transition-all duration-200 ease-in">
            Delete Category
        </a>

        <a asp-controller="Profiles" asp-action="AllProfiles" asp-route-mode="AssignAdmin" class="w-fit bg-red-600 hover:bg-red-700 py-3 px-8 rounded-xl hover:text-white transition-all duration-200 ease-in">
            Assign Admin
        </a>

    </div>

    <div class="w-full flex items-center justify-center space-x-6">

        <a asp-controller="Products" asp-action="AllProducts" class="w-fit hover:text-white bg-green-500 hover:bg-green-600 py-3 px-8 rounded-xl transition-all duration-200 ease-in">
            Products List
        </a>


        <a asp-controller="Categories" asp-action="CategoryIndex" class="w-fit hover:text-white bg-green-500 hover:bg-green-600 py-3 px-8 rounded-xl transition-all duration-200 ease-in">
            Categories List
        </a>

        <a asp-controller="Profiles" asp-action="AllProfiles" asp-route-mode="UsersList" class="w-fit bg-green-500 hover:bg-green-600 hover:text-white py-3 px-8 rounded-xl transition-all duration-200 ease-in">
            Users List
        </a>

        <a asp-controller="Profiles" asp-action="AdminsList" class="w-fit bg-green-500 hover:bg-green-600 hover:text-white py-3 px-8 rounded-xl transition-all duration-200 ease-in">
            Admins List
        </a>

    </div>


</div>

