@model ECommerceApp.Models.Product;

@{
    ViewData["Title"] = "Delete Product";
}

<div class="flex items-center justify-between px-10 my-6">
    <a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@Model.Id" class=" bg-blue-400 hover:bg-blue-600  hover:text-white rounded-md inline-block  py-1 w-24 flex items-center justify-center">
        <img src="~/images/back.png" alt="Back" class="invert grayscale w-8">
    </a>
</div>

<div class="w-full h-[50vh] flex items-center justify-center flex-col space-y-6">
    <h1 class="text-xl font-semibold">Are you sure you want to delete <span class="text-red-400">@Model.Name?</span></h1>


    <form asp-action="ConfirmProductDelete" method="post" class="flex flex-col items-center justify-center space-y-6">
        <input type="hidden" name="id" value="@Model.Id">

        <div class="flex space-x-6">
            <button type="submit" class="bg-red-500 hover:bg-red-600 text-white py-2 w-40 flex items-center justify-center rounded-md">Yes, Delete it</button>
            <a asp-controller="Home" asp-action="Index" class="bg-[#dddddd] text-black py-2 w-40 flex items-center justify-center rounded-md">Cancel</a>
        </div>
    </form>
</div>