@model ECommerceApp.Models.ApplicationUser;

@{
    ViewData["Title"] = "Remove Admin";
}

<a asp-controller="Home" asp-action="Admin" class="bg-blue-400 hover:bg-blue-600 hover:text-white rounded-md inline-block py-1 w-24 mt-10 ml-10 flex items-center justify-center">
    <img src="~/images/back.png" alt="Back" class="invert grayscale w-8">
</a>

<div class="w-full my-10 flex flex-col items-center justify-center text-center space-y-6 h-[50vh]">

    <h1 class="text-xl font-semibold">Are you sure you want to revoke admin privileges from @Model.UserName?</h1>
    <h1 class="text-red-500 text-lg">This action will remove all admin access to the website.</h1>

    <form asp-action="ConfirmAssignUser" method="post" class="flex flex-col items-center w-full">
        <input type="hidden" name="id" value="@Model.Id">

        <div class="flex space-y-6 lg:space-y-0 lg:space-x-6 flex-col items-center justify-center lg:flex-row w-full">
            <button type="submit" class="bg-red-500 hover:bg-red-600 text-white py-2 w-4/5 lg:w-40 flex items-center justify-center ">Yes, Remove</button>
            <a asp-controller="Home" asp-action="Admin" class="bg-[#dddddd] text-black py-2 w-4/5 lg:w-40 flex items-center justify-center ">Cancel</a>
        </div>
    </form>

</div>

