@model IEnumerable<ECommerceApp.Models.Cart>


<a asp-controller="Carts" asp-action="CartsIndex" class=" bg-blue-400 mt-6 ml-10 hover:bg-blue-600  hover:text-white  inline-block  py-1 w-24 flex items-center justify-center">
    <img src="~/images/back.png" alt="Back" class="invert grayscale w-8">
</a>

<div class="flex items-center justify-center flex-col space-y-10 mt-20">

    <h1 class="text-xl font-medium text-red-500 text-center">This action will delete all the items in your Cart.</h1>

    <form asp-controller="Carts" asp-action="DeleteAllConfirm" method="post" class="w-full flex flex-col items-center justify-center">
        <button type="submit" class="bg-red-600 hover:bg-red-700 py-2 w-4/5 lg:w-[10%] flex items-center justify-center hover:text-white transition-all duration-200 ease-in">
            Delete all
        </button>
        <a asp-controller="Home" asp-action="Index" class="mt-4 text-black flex items-center justify-center hover:text-black py-2 w-4/5 lg:w-[10%] bg-gray-300">Cancel</a>
    </form>

</div>
