@model ECommerceApp.Models.Cart

@{
    ViewData["Title"] = "Delete";
}

<div class="flex flex-col items-center justify-center my-32 space-y-6 w-full">

<h2 class="text-xl text-center px-2">Are you sure you want to Remove this item from your cart?</h2>
    <p class="text-lg text-center px-2">Product: <span class="text-yellow-400 ">@Model.product.Name</span></p>
    <p class="text-lg text-center px-2">Quantity: <span class="text-yellow-400 ">@Model.Quantity</span></p>

    <form asp-controller="Carts" asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post" class="w-full flex items-center justify-center flex-col lg:flex-row lg:space-x-10 space-y-6 lg:space-y-0">
    <button type="submit" class="bg-red-500 text-white w-4/5 py-2 lg:w-32  hover:bg-red-600 flex items-center justify-center">Yes, Remove</button>
    <a asp-controller="Home" asp-action="Index" class="bg-gray-300 text-black hover:text-black py-2 w-4/5 lg:w-32  flex items-center justify-center">Cancel</a>
</form>

</div>