@model ECommerceApp.Models.Review

@{
    ViewData["Title"] = "Add Review";
}

<a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@ViewBag.ProductId" class="fixed top-6 left-6 bg-blue-400 hover:bg-blue-600  hover:text-white  py-1 w-24 hidden lg:flex items-center justify-center">
    <img src="~/images/back.png" alt="Back" class="invert grayscale w-8">
</a>

<div class="w-full h-full flex items-center justify-center flex-col">


    <form asp-action="AddReview" method="post" enctype="multipart/form-data" class="w-full h-full flex items-center justify-center flex-col  space-y-14 pb-20">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="ProductId" class="text-black hidden" value="@ViewBag.ProductId">
        <input asp-for="UserId" class="text-black hidden" value="@ViewBag.UserId">

        <div class="w-full flex flex-col items-center justify-center space-y-6">
            <img id="defaultImage" src="~/images/uploadImage.jpg" class="cursor-pointer w-full h-48 object-contain object-center">

            <div class="flex items-center justify-center w-full max-[350px]:space-y-6 max-[350px]:space-x-0 space-x-6 max-[350px]:flex-col">
                <div>
                    <input id="imageUpload" type="file" asp-for="ImageFile" class="hidden" accept="image/*">
                    <div id="addImageButton" class="flex items-center justify-center bg-blue-500 hover:bg-blue-600 text-white py-3 w-44  cursor-pointer transition-all duration-400 ease-in-out">Add Image</div>
                    <span asp-validation-for="ImageFile" class="text-red-400"></span>
                    <input type="hidden" asp-for="ImageUrl">
                </div>

                <div id="removeImageButton" class="flex items-center justify-center bg-red-500 hover:bg-red-600 text-white py-3 w-44  cursor-pointer transition-all duration-400 ease-in-out">Remove Image</div>
            </div>

        </div>

        <div class="flex items-center justify-center flex-col space-y-6 w-4/5 lg:w-1/4">

            <div class="w-full flex-col space-y-2 flex items-center justify-center">
                <label asp-for="Rating" class="w-full font-medium text-center"></label>
                <div class="flex items-center space-x-4">
                @for(int i = 1; i<= 5; i++)
                {
                    <label class="cursor-pointer text-3xl">
                        <input type="radio" name="Rating" value="@i" class="hidden peer">
                        <span class="text-gray-400 hover:text-yellow-500 peer-checked:text-yellow-500">&#9733;</span>
                    </label>
                }
                </div>
                <span asp-validation-for="Rating" class="text-red-500"></span>
            </div>

            <div class="w-full flex-col space-y-2 flex items-center justify-center">
                <label asp-for="ReviewName" class="w-full font-medium text-center">Review Name</label>
                <input asp-for="ReviewName" class="w-full text-black pl-2 outline-none">
                <span asp-validation-for="ReviewName" class="text-red-500"></span>
            </div>

            <div class="w-full flex-col space-y-2 flex items-center justify-center">
                <label asp-for="Comment" class="w-full font-medium text-center">Review Description (optional)</label>
                <textarea rows="5" asp-for="Comment" class="w-full text-black pl-2 outline-none"></textarea>
                <span asp-validation-for="Comment" class="text-red-500"></span>
            </div>

            <input type="submit" value="Add Review" class="bg-blue-500 py-2 w-full cursor-pointer">
        </div>
    </form>


</div>

<script>
        const imageUpload = document.querySelector("#imageUpload");
    const defaultImage = document.querySelector("#defaultImage");
    const removeImageButton = document.querySelector("#removeImageButton");
    const addImageButton = document.querySelector("#addImageButton");


    document.addEventListener("DOMContentLoaded", function () {
        if (addImageButton && defaultImage) {
            addImageButton.addEventListener('click', function () {
                imageUpload.click();
            });

            defaultImage.addEventListener('click', function () {
                imageUpload.click();
            });

            imageUpload.addEventListener('change', (e) => {
                let file = e.target.files[0];


                if (file) {
                    defaultImage.src = URL.createObjectURL(file);
                }
            });
        }


        if (removeImageButton) {
            removeImageButton.addEventListener('click', function () {
                defaultImage.src = '/images/uploadImage.jpg';
                imageUpload.value = '/images/uploadImage.jpg';
                urlInput.value = '/images/uploadImage.jpg';
            });
        }
    });


</script>