@model IEnumerable<ECommerceApp.Models.Order>

<h1 class="text-xl font-medium text-center mt-10 mb-20">Orders</h1>

<div class="w-full h-full space-y-6 flex items-center justify-center flex-col">

    @foreach (var i in Model)
    {
        <div class=" w-1/2 h-96 flex items-center justify-center ">

            <div class="w-1/4 h-full flex items-center justify-start">
                <img src="@(i.Product.ImageUrl ?? Url.Content("~/images/noImage.jpg"))" alt="Product Image" class="w-full h-full object-cover object-center">
            </div>

            <div class="w-full h-full">
                <h1>@i.Product.Name</h1>
                <h1>@i.Quantity</h1>
                <h1>@i.TotalPrice</h1>
            </div>

        </div>
    }

</div>